// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
	background-color:#2E2E2E;
	margin:0;
        padding:0;
}

#body{
    width:1775px;
    margin: 0 auto;
    
    
}
#Title{
	color: white;
	font-family:"Arial";
	text-align:center;
	font-size:0px;
}
#TitleText{
	font-size:20px;
}
#streamscontainer{
	
}
#tabs{
        float:left;
        width:100px;
}

#channels{
	float:left;
        width:1275px;
        
        height:700px;
}
#video{
        float:right;
        width: 1125px;  
        height:700px;
        overflow:hidden;
}
#chatroom{
     float:right;
     width:500px;
}

#adminpanels{
	
	color: #ffffff;
	font-size: 20px;
}
ul{
    font-family:"Arial Black";
    
    color: #fe3423;
    list-style-type: none;
    width:100px;
    li{
        width:100px;
    }
    a{
      width:100px;
      color: #ffffff;
      text-decoration:none; 
    }
}
	
