// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
	background-color:#2E2E2E;
	white-space: nowrap;
}
#container{
	

}

#Title{
	color: white;
	font-family:"Arial";
	text-align:center;
	font-size:0px;
}
#TitleText{
	font-size:20px;
}
#Streamlist{
	
}

#channels{
	
}
#buttons{
	text-align:center;
}
	ul{
	width:100px;
	height: 0px;
	
	font-size: 18px;
	
	}

	a{
		width:100px;
		color: #bbbbbb;
		text-decoration:none;
		font-family:"Georgia";
		
	}
	a:hover{
		width:100px;
		background-color: #999999;
	}
	a:active{
		width:100px;
		background-color: #aaaaaa;
	}
	li{
		width:150px;
		list-style-type: none;
		padding: 0px;
		
	}
	#channellist{
		
	}
#adminpanels{
	
	color: #ffffff;
	font-size: 20px;
}
	
