// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
	background-color:#2E2E2E;
	white-space: nowrap;
}
#container{
	

}

#Title{
	color: white;
	font-family:"Arial";
	font-size:20px;
	text-align:center;
}
#channel{
	
	position:relative;
}

#buttons{
	text-align:center;
}
	ul{
	width:0px;
	height: 0px;
	float: left;
	
	}

	a{
		width:200px;
		color: #bbbbbb;
		text-decoration:none;
		font-family:"Georgia";
		padding: 5px
	}
	a:hover{
		width:200px;
		background-color: #999999;
	}
	a:active{
		width:200px;
		background-color: #aaaaaa;
	}
	li{
		width:200px;
		
		float: left;
		list-style-type: none;
		padding: 5px;
		
	}

	
