<!DOCTYPE html>
<html>
<head>
  <title>FGCChat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%=favicon_link_tag "/favicon.ico?1"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
